.accordion-container {
  width: 700px;
  margin: 25px auto;
  border-top: 2.5px solid rgb(4, 79, 133);
  line-height: 1;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
}

.accordion-header {
  margin: 0;
  padding: 0;
}

.accordion-button {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-color: white;
  border: none;

}

.hidden {
  display: none;
}

.accordion-num {
  color: rgb(4, 79, 133);
  font-size: 3rem;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-title {
  color: rgb(4, 79, 133);
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-symbol {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-text-section {
  padding-left: 70px;
  padding-right: 70px;
}
