.accordion-container {
  width: 700px;
  margin: 25px auto;
  border-top: 2px solid rgb(4, 79, 133);
  line-height: 1;
  box-shadow: 0 0 32px rgba(0,0,0,0.1);
  padding-bottom: 24px;
}

.accordion-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion-num {
  color: rgb(4, 79, 133);
  font-size: 3rem;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-title {
  color: rgb(4, 79, 133);
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-symbol {
  color: rgb(4, 79, 133);
  font-size: 3rem;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin-top: 0;
    padding-bottom: 20px;
}

.accordion-list-items {
    font-size: 1.8rem;
    color: #868e96;
    margin-left: 16px;
}

.accordion-text-section {
    padding-left: 70px;
    padding-right: 70px;
}